.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml

client/**
node_modules/audio-dsl/**
!node_modules/audio-dsl/dist/**
!node_modules/audio-dsl/bin/**
!node_modules/audio-dsl/node_modules/**